.navbar-margin{
    margin-top: 56px;

}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 768px){
    .services{

            grid-template-columns: repeat(1,1fr);
            
        
    }
    
}
.slider-image{
    height: 630px;
}
.text-color{
    color: #FFFFFFB0;
    font: 18px Roboto;
}

.header-color{
    font: 36px Roboto;
}
.card-name-top{
    padding: 55px;
    background-color: lightgray;
}
